<div id="WineSearchView" data-role="page">
	<h1>Let's find a wine for you</h1>
	<div class="container clearfix">
		<label for="color-slider" class="pull-left"><h4>Select a COLOR</h4></label>
		<div id="color-slider-container" class="pull-right">
			<!--div id="color-slider" ></div-->
			<input name="color-slider" id="color-slider" value="<%= color %>" min="0" max="99" />
		</div>
	</div>
	<div id="price-slider-container" class="container clearfix">
		<label for="price-slider" class="pull-left"><h4>Select a PRICE RANGE</h4></label>
		<div class="pull-right">
			<input type="number" name="price_slider_min" id="price_slider_min" class="minpriceSlider" value="<%= price.split("-")[0] %>" min="0" max="200" />
		    <input type="number" name="price_slider_max" id="price_slider_max" class="maxpriceSlider" value="<%= price.split("-")[1] %>" min="0" max="200" data-track-theme="b"/>
		</div>
	</div>
	<div id="food-container" class="textext_container container clearfix">
		<label for="food_input" class="pull-left"><h4>Select a FOOD MATCH</h4></label>
		<div class="pull-right">
			<textarea id="food_input" class="bs_textext" rows="1"></textarea>
		</div>
	</div>
	<div id="grape-container" class="textext_container container clearfix">
		<label for="grape_input" class="pull-left"><h4>Select a GRAPE TYPE</h4></label>
		<div class="pull-right">
			<textarea id="grape_input" class="bs_textext" rows="1"></textarea>
		</div>
	</div>
	<div id="keyword-container" class="textext_container container clearfix">
		<label for="keyword_input" class="pull-left"><h4>Select a KEYWORD</h4></label>
		<div class="pull-right">
			<textarea id="keyword_input" class="bs_textext" rows="1"></textarea>
		</div>
	</div>
	<div class="accordion advanced_container clearfix" id="accordion2">
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
					<h4>Advanced Filter</h4>
				</a>
			</div>
			<div id="collapseOne" class="accordion-body collapse in">
				<div class="accordion-inner">
					<div class="adv_slider_container">
						<label for="acid-slider" class="pull-left"><h4>ACID</h4></label>
						<div id="acid-slider-container" class="pull-right">
							<input name="acid-slider" id="acid-slider" value="" min="1" max="5" data-highlight="true" />
						</div>
					</div>

					<div class="adv_slider_container">
						<label for="tannin-slider" class="pull-left"><h4>TANNIN</h4></label>
						<div id="tannin-slider-container" class="pull-right">
							<input name="tannin-slider" id="tannin-slider" value="" min="1" max="5" data-highlight="true" />
						</div>
					</div>

					<div class="adv_slider_container">
						<label for="sweet-slider" class="pull-left"><h4>PERCEIVED SWEETNESS</h4></label>
						<div id="sweet-slider-container" class="pull-right">
							<input name="sweet-slider" id="sweet-slider" value="" min="1" max="5" data-highlight="true" />
						</div>
					</div>

					<div class="adv_slider_container">
						<label for="oak-slider" class="pull-left"><h4>OAK</h4></label>
						<div id="oak-slider-container" class="pull-right">
							<input name="oak-slider" id="oak-slider" value="" min="1" max="5" data-highlight="true" />
						</div>
					</div>

					<div class="adv_slider_container">
						<label for="spicy-slider" class="pull-left"><h4>SPICY FLAVORS</h4></label>
						<div id="spicy-slider-container" class="pull-right">
							<input name="spicy-slider" id="spicy-slider" value="" min="1" max="5" data-highlight="true" />
						</div>
					</div>

					<div class="adv_slider_container">
						<label for="savory-slider" class="pull-left"><h4>SAVORY FLAVORS</h4></label>
						<div id="savory-slider-container" class="pull-right">
							<input name="savory-slider" id="savory-slider" value="" min="1" max="5" data-highlight="true" />
						</div>
					</div>

					<div class="adv_slider_container">
						<label for="fruity-slider" class="pull-left"><h4>FRUITY FLAVORS</h4></label>
						<div id="fruity-slider-container" class="pull-right">
							<input name="fruity-slider" id="fruity-slider" value="" min="1" max="5" data-highlight="true" />
						</div>
					</div>

					<div class="adv_slider_container">
						<label for="intensity-slider" class="pull-left"><h4>INTENSITY OF FLAVORS</h4></label>
						<div id="intensity-slider-container" class="pull-right">
							<input name="intensity-slider" id="intensity-slider" value="" min="1" max="5" data-highlight="true" />
						</div>
					</div>

					<div class="adv_slider_container">
						<label for="weight-slider" class="pull-left"><h4>WEIGHT IN MOUTH</h4></label>
						<div id="weight-slider-container" class="pull-right">
							<input name="weight-slider" id="weight-slider" value="" min="1" max="5" data-highlight="true" />
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>



	<div class="search-results subnav">&nbsp;</div>
	<!--a href="#wines/<%= _id %>" class="thumbnail plain" style="text-align: center;">
	    <img src="<%= picture === null ? 'pics/generic.jpg' : 'pics/' + picture %>" height="150" width="125" alt="">
	    <h5><%= name %></h5>
	    <%= year %> <%= grapes %><br/>
	    <i class="icon-globe"></i> <%= region %>, <%= country %>
	</a-->
    <script type="text/javascript">
        $(document).on('pageinit', '#indexPage',  function(){
            // do something here...
        });
    </script>
</div>